.container {
  border: 1px solid black;
  text-align: center;
}

.title{
  align-self: center;
}

.new{
  width: 25vh;
}

.listItem {
  border-bottom: 1px solid grey;
  display: flex;
  text-align: left;
  padding: 5px;
  margin: 2px;
}
